body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008374;
    color: #ffffff; /* Changed text color to white */
    text-align: center;
}

header {
    padding: 50px 20px;
    background-color: #008374;
    color: #ffffff; /* Changed text color to white */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 2em;
    margin-top: 50px;
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

main {
    padding: 20px;
}

.service {
    margin: 30px 0;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: #008374;
    background-color: #ffffff; /* Changed button text color to background color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff; /* Kept hover color for contrast */
}

footer {
    padding: 20px;
    background-color: #00685c;
    color: #ffffff; /* Changed text color to white */
    position: fixed;
    width: 100%;
    bottom: 0;
}
